* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

body {
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255, 0.4);
}

.navbar_items {
    
}

/* HERO */
.hero_section {
    height: 100vh;
    display: flex;
    background-image: url("images/HeroBG.jpeg");
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    background-color:#55672ce0;
    width: 50vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #243E16;
}

.hero-text {
    color: white;
}

.cta {
    
}

/* ABOUT */
.about_section {
    background: #55672c;
    height: 100vh;
}
.text {
    
}
.about_image {
    
}

/* LIST */
.list_section {
    height: 100vh;
}
.list_header {
    
}
.list_cards {
    
}
.card {
    
}
.card_image {
    
}
.card_text {
    
}

/* CTA */
.cta_section {
    height: 50vh;
}
.cta_overlay {
    
}
