/* NAVBAR */
.navbar {
    
}
.navbar_items {
    
}

/* HERO */
.hero_section {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("images/HeroBG.jpeg");
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    
}
.cta {
    
}

/* ABOUT */
.about_section {
    
}
.text {
    
}
.about_image {
    
}

/* LIST */
.list_section {
    
}
.list_header {
    
}
.list_cards {
    
}
.card {
    
}
.card_image {
    
}
.card_text {
    
}

/* CTA */
.cta_section {
    
}
.cta_overlay {
    
}
