* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

body {
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
    position: fixed;
    height: 45px;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255, 0.4);
}

.navbar_items {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 20px;
    z-index: 100;
}

.navbar_items a {
    text-decoration: none;
    color: black;
    background: #FFFFFF99;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #55672c;
}

.custom-shape-divider-top-1778619016 {
    position: relative;
    margin-top: 6.7px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1778619016 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 185px;
}

.custom-shape-divider-top-1778619016 .shape-fill {
    fill: #FFFFFF66;
}

/* HERO */
.hero_section {
    height: 100vh;
    display: flex;
    background-image: url("images/HeroBG.jpeg");
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    background-color:#55672ce0;
    width: 50vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #243E16;
}

.hero-text {
    color: white;
}

.cta {
    
}

/* ABOUT */
.about_section {
    background: #55672c;
    height: 100vh;
}
.text {
    
}
.about_image {
    
}

.about_image img {
    width: 40vw;
    height: auto;
}

/* LIST */
.list_section {
    height: 100vh;
}
.list_header {
    
}
.list_cards {
    
}
.card {
    
}
.card_image {
    
}
.card_text {
    
}

/* CTA */
.cta_section {
    height: 50vh;
}
.cta_overlay {
    
}
